<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/profile" class="nav-link px-2 text-white">Profile</a></li>
        <li><a href="/dashboard" class="nav-link px-2 text-secondary">Dashboard</a></li>
      </ul>

      <div class="text-end">
        <a href="/logout" class="btn btn-warning">Logout</a>
      </div>
    </div>
  </div>
</header>

<main class="flex-shrink-0">
  <div class="container">
    <div class="card mt-5" style="width: 18rem;">
      <i class="bi bi-person-bounding-box profile-avatar"></i>
      <div class="card-body">
        <h5 class="card-title">User name: {{name}}</h5>
        <p class="card-text">Email: <a href="mailto:{{email}}" class="card-text">{{email}}</a></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Registration date: {{registration}}</li>
        <li class="list-group-item">Your IP: {{ip}}</li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <button id="deleteBtn" type="button" data-url="/users/{{id}}" class="btn btn-danger">Delete profile</button>
      </div>
    </div>
  </div>
</main>